Q1. Create one variable containing following type of data:
(i)	string
(ii)	list
(iii)	float
(iv)	tuple

In [4]:
#String
a="Jaydip"

In [5]:
a

'Jaydip'

In [8]:
type(a)

str

In [11]:
#list
List=[1,5,8,6,9,7,3,4,]

In [12]:
List

[1, 5, 8, 6, 9, 7, 3, 4]

In [13]:
type(List)

list

In [ ]:
#float
f = 25.20

In [18]:
f

25.2

In [19]:
type(f)

float

In [20]:
#tuple
x = ("apple", "banana", "mango")

In [21]:
x

('apple', 'banana', 'mango')

In [22]:
type(x)

tuple

Q2. Given are some following variables containing data:
(i)	var1 = ‘ ‘
(ii)	var2 = ‘[ DS , ML , Python]’
(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv)	var4 = 1.
 What will be the data type of the above given variable

In [25]:
#(i)
var1 = ' '

In [26]:
type(var1)

str

In [28]:
#(ii)	
var2 = '[ DS , ML , Python]'

In [29]:
type(var2)

str

In [27]:
#(iii)
var3 = [ 'DS','ML','Python']

In [28]:
type(var3)

list

In [32]:
#(iv)
var4 = 1

In [33]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i)	/
(ii)% 
(iii)//
(iv)**

In [34]:
3 / 4      #Division

0.75

In [35]:
4 % 5    #Modulus

4

In [36]:
12 // 5    #Floor division

2

In [37]:
5 ** 3     #Exponentiation

125

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [3]:
list =[2,4,"jay",20.32,"python",20,25.45,50,True,2j]
for i in list:
    print(i)
    print(type(i))

2
<class 'int'>
4
<class 'int'>
jay
<class 'str'>
20.32
<class 'float'>
python
<class 'str'>
20
<class 'int'>
25.45
<class 'float'>
50
<class 'int'>
True
<class 'bool'>
2j
<class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [6]:
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))
count = 0
while A % B == 0:
    A = A // B
    count += 1
if count > 0:
    print(f"{A} is purely divisible by {B} ,{count} times divisible")
else:
    print(f"{A} is not divisible by {B}")

Enter the value of A:  1000
Enter the value of B:  20

50 is divisible by 20 ,1 times divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not

In [18]:
list =[2,4,6,8,11,15,25,28,30,31,32,33,45,50,51,52,53,54,55,80,90,91,92,95,99]
for i in list:
    if i % 3 == 0:
        print(f"{i} is divisible by 3 ")
    else:
        print(f"{i} is not divisible by 3 ")

2 is not divisible by 3
4 is not divisible by 3
6 is divisible by 3
8 is not divisible by 3
11 is not divisible by 3
15 is divisible by 3
25 is not divisible by 3
28 is not divisible by 3
30 is divisible by 3
31 is not divisible by 3
32 is not divisible by 3
33 is divisible by 3
45 is divisible by 3
50 is not divisible by 3
51 is divisible by 3
52 is not divisible by 3
53 is not divisible by 3
54 is divisible by 3
55 is not divisible by 3
80 is not divisible by 3
90 is divisible by 3
91 is not divisible by 3
92 is not divisible by 3
95 is not divisible by 3
99 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

=>Mutable data types in python are those which can be changed, once created and immutable data type are those which cannot be changed.
  Example: mutable data types are list, dictionary, set
           Immutable data types are int, float, string, bool, tuple.

#imutable Example:String

In [20]:
s="Jaydip"

In [21]:
s

'Jaydip'

In [22]:
s[0]

'J'

In [23]:
s[2]

'y'

In [24]:
s[2]='b'

TypeError: 'str' object does not support item assignment

#mutable Example:list

In [22]:
l=[2,3,4,5,6,"jay",3+7j,True,False,45.33]

In [23]:
l[0]

2

In [24]:
l[1]

3

In [25]:
l[1]=20

In [26]:
l

[2, 20, 4, 5, 6, 'jay', (3+7j), True, False, 45.33]

In [29]:
l[2]=12

In [31]:
l

[2, 20, 12, 5, 6, 'jay', (3+7j), True, False, 45.33]